# -*- mode: yaml -*-
# vim: set filetype=yaml tabstop=4 shiftwidth=4 autoindent smartindent:
site_name: "Is Bitcoin True?"
site_url: https://rschristopher.github.io/
site_description: "Is Bitcoin True?"
site_author: RS Christopher
docs_dir: src
site_dir: docs
copyright: Uncopyright &copy; 2022-2025 ~ R.S. Christopher
extra:
    generator: false
extra_css:
    - css/extra.css
theme:
    name: material
    features:
        - navigation.indexes
        - navigation.footer
        - navigation.sections
        - navigation.tabs
        - navigation.top
    palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      accent: orange
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: brown
      accent: orange
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    logo: images/bitcoin-logo-bw.png
    favicon: images/favicon.png

nav:
    - Truth: 
        - index.md
        - Is Bitcoin True?: is-bitcoin-true.md
        - Bitcoin as Money: 
          - bitcoin-as-money/index.md
          - Unit of Account: bitcoin-as-money/unit-of-account.md
          - Medium of Exchange: bitcoin-as-money/medium-of-exchange.md
          - Store of Value: bitcoin-as-money/store-of-value.md
          - Fixed Supply: bitcoin-as-money/fixed-supply.md
          - Monetary Policy: bitcoin-as-money/monetary-policy.md
          - Money and State: bitcoin-as-money/money-and-state.md
          - In the Year 2140: bitcoin-as-money/in-the-year-2140.md
        - Criticisms:
          - criticisms/index.md
          - Bitcoin is not Perfect: criticisms/bitcoin-not-perfect.md
          - Cantillon Bubbles: criticisms/cantillon.md
          - Deflation: criticisms/deflation.md
          - Environment: criticisms/environment.md
          - Inequality: criticisms/inequality.md
          - Mining is Negative Sum: criticisms/mining-zero-sum.md
          - Quantum Computing: criticisms/quantum-computing.md
          - Scalability: criticisms/scalability.md
          - Surveillance: criticisms/surveillance.md
          - Toxic Maximalists: criticisms/toxic-maxis.md
          - Why is it not Worth More?: criticisms/why-is-it-not-worth-more.md
    - Saving:
        - saving/index.md
        - Understand the Terms: saving/understand-the-terms.md
        - Sovereignty:
            - saving/sovereignty/index.md
            - "Level 1: Getting Started": saving/sovereignty/level-1.md
            - "Level 2: Your Keys": saving/sovereignty/level-2.md
            - "Level 3: Dedicated Hardware": saving/sovereignty/level-3.md
            - "Level 4: Full Node": saving/sovereignty/level-4.md
            - "Level 5: Airgap Quarantine": saving/sovereignty/level-5.md
            - "Level 6: Metal Backup": saving/sovereignty/level-6.md
            - "Level 7: Multisig Protocols": saving/sovereignty/level-7.md
            - "Level 8: DMZs": saving/sovereignty/level-8.md
            - "Level 9: Fault Tolerance": saving/sovereignty/level-9.md
            - "Level 10: Fail-safes": saving/sovereignty/level-10.md
            - "Level 11: Countermeasures": saving/sovereignty/level-11.md
            - "Level 12: Off-grid": saving/sovereignty/level-12.md
        - Wealth Preservation: 
            - saving/wealth/index.md
            - Full Privacy: saving/wealth/full-privacy.md
            - Inheritance Planning: saving/wealth/inheritance.md
            - Physical Security: saving/wealth/physical-security.md
        - Appendix:
            - "A: Using Dice": saving/appendix/dice.md
            - "A: Airgapped Computer": saving/appendix/airgapped-computer.md
            - "A: Custom Protocols": saving/appendix/custom.md
            - "A: Keyless Vaults": saving/appendix/keyless-vaults.md
            - "A: Mnemonic Memorization": saving/appendix/mnemonic.md
    - Spending:
        - spending/index.md
        - Understand the Terms: spending/understand-the-terms.md
        - Sovereignty:
            - spending/sovereignty/index.md
            - "Level 1: On-chain Limitations": spending/sovereignty/level-1.md
            - "Level 2: Primitive Tokens": spending/sovereignty/level-2.md
            - "Level 3: Private Channels": spending/sovereignty/level-3.md
            - "Level 4: Public Channels": spending/sovereignty/level-4.md
            - "Level 5: Point-of-Sale": spending/sovereignty/level-5.md
            - "Level 6: Layer-2 Wallets": spending/sovereignty/level-6.md
        - Appendix: 
          - "A: Bitcoin Script": spending/appendix/bitcoin-script.md
          - "A: Coinjoin": spending/appendix/coinjoin.md
          - "A: Network Security": spending/appendix/network-security.md
          - "A: Physical Security": spending/appendix/physical-security.md
    - Proof of Work:
        - pow/index.md
        - Understand the Terms: pow/understand-the-terms.md
        - Sovereignty:
            - pow/sovereignty/index.md
            - "Level 1: Start Hashing": pow/sovereignty/level-1.md
            - "Level 2: Hash Farms": pow/sovereignty/level-2.md
            - "Level 3: Demand Response Curtailment": pow/sovereignty/level-3.md
            - "Level 4: Solo Mining": pow/sovereignty/level-4.md
            - "Level 5: Block Broadcasting": pow/sovereignty/level-5.md
            - "Level 6: Opensource Firmware": pow/sovereignty/level-6.md
            - "Level 7: Commodity Hardware": pow/sovereignty/level-7.md
        - Appendix: 
          - "A: Energy Money": pow/appendix/energy-money.md
          - "A: ASICBoost": pow/appendix/asicboost.md
    - References: 
        - references/index.md
        - Nostr: references/nostr.md

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - md_in_html
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - tables
  - toc:
      permalink: True
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

